<div class="min-h-[100vh]  px-[15%] py-[5%] gradient-bg-transactions">
    <div class="flex w-[75%] justify-between">
        <div class="mt-[10%]">
            <img src="../../../../assets/images/Monero-1.png" draggable="false">
        </div>
        <div class="">
            <h1 class="text-white text-[3em] font-bolder">Ethereum Transactions</h1>
        </div>
    </div>

    <div class="w-full white-glassmorphism mt-[5%]">
        <p *ngIf="transactions.length === 0" class="p-[2em] text-red-500">No transactions yet</p>

        <table class="w-full p-4 table-auto border-separate table" *ngIf="transactions.length > 0" >
            <thead class="">
                <tr class="p-4 gap-2 text-white text-sm">
                    <th>Account</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Keyword</th>
                    <th>Transaction status</th>
                </tr>
                </thead>
                <p *ngIf="transactions.length === 0">No transactions yet</p>
                <tbody class="text-gray-400 text-[11px]" *ngFor="let transaction of transactions; let i = index">
                    <tr>
                    <td class="text-center">{{transaction.addressTo}}</td>
                    <td class="text-center">{{transaction.amount}} ETH</td>
                    <td class="text-center">{{transaction.timeStamp}}</td>
                    <td class="text-center">{{transaction.keyword}}</td>
                    <td class="text-center"> <span class="bg-green-500 text-white py-3 px-10  rounded-full">Success</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-full flex mt-6 justify-end">
        <img src="../../../../assets/images/Bitcoin-1.png" alt="coin" draggable="false">
    </div>
</div>