.white-glassmorphism{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.gradient-bg-transactions {
    background-color: #160E33;
    background-image: 
      radial-gradient(at 0% 100%, rgb(31, 25, 65) 0, transparent 50%), 
      radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
  }

.table tr{
    padding: 30px;
    height: 50px;
}