<div class="w-full bg-primaryColor h-[8vh] flex flex-row justify-between items-center px-[10%]">
       <div >
        <h1 class="text-switchColor text-xl font-extrabold">Crypto Ex</h1>
       </div>
       
       <div>
           <ul class="flex justify-between gap-4">
               <li class="text-white text-[11px] p-2 cursor-pointer hover:bg-switchColor hover:rounded-full">HOW IT WORKS</li>
               <li class="text-white text-[11px] p-2 cursor-pointer hover:bg-switchColor hover:rounded-full">CRYPTOS</li>
               <li class="text-white text-[11px] p-2 cursor-pointer hover:bg-switchColor hover:rounded-full">FEATURES</li>
               <li class="text-white text-[11px] p-2 cursor-pointer hover:bg-switchColor hover:rounded-full">TESTMONIAL</li>
               <li class="text-white text-[11px] p-2 cursor-pointer hover:bg-switchColor hover:rounded-full">UNIVERSITY</li>
           </ul>
       </div>

       <div class="flex py-1 px-2 border-[1px] border-switchColor rounded-full">
           <img src="../../../assets/icons/us-frag.png" alt="lang" class="w-[15px]">
           <img src="../../../assets/icons/drop-down.png" alt="lang" class="w-[15px] ml-[0.2em]">
       </div>
</div>