<div class="w-full h-[92vh]  bg-image">
    <div class="px-[10%] flex justify-between pt-[5%]">
        <div>
            <img src="../../../../assets/images/Bitcoin-1.png" draggable="false" alt="coin" draggable="false">
        </div>

        <div class="w-[60%]">
            <h1 class="text-[4em] text-center text-white font-extrabold">Next Generation Crypto Trading</h1>
            <div class="w-full flex justify-around mt-10">
                <button class="bg-switchColor text-white p-4 rounded-full w-[60%]"
                *ngIf="!account"
                (click)="onConnectWallet()"
                >CONNECT WALLET</button>

                <button class="bg-switchColor text-white p-4 rounded-full w-[60%]"
                *ngIf="account"
                (click) = "onShowModal()"
                >SEND ETHEREUM</button>
            </div>

            <div class="flex justify-around mt-20">
                <div class="flex  gap-10">
                    <div class="flex gap-2 items-center">
                        <img src="../../../../assets/icons/bitcoin.png" alt="crypto type" draggable="false">
                        <label class="text-white text-[14px]">Bitcoin</label>
                    </div>
                    <div class="flex gap-2 items-center">
                        <img src="../../../../assets/icons/litecoin.png" alt="crypto type" draggable="false">
                        <label class="text-white text-[14px]">Litecoin</label>
                    </div>
                    <div class="flex gap-2 items-center">
                        <img src="../../../../assets/icons/chainlink.png" alt="crypto type" draggable="false">
                        <label class="text-white text-[14px]">Chainlink</label>
                    </div>
                    <div class="flex gap-2 items-center">
                        <img src="../../../../assets/icons/siacoins.png" alt="crypto type" draggable="false">
                        <label class="text-white text-[14px]">Siacoin</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col justify-between"> 
            <img src="../../../../assets/images/LiteCoin-2.png" draggable="false" alt="coin" draggable="false">
            <img src="../../../../assets/images/Monero-1.png" draggable="false" alt="coin" class="w-[80px]" draggable="false">
        </div>
    </div>
    <div class="px-[5%]">
        <img src="../../../../assets/images/Etherium-2.png" al="crypto coin" draggable="false">
    </div>
</div>  

<app-form *ngIf="showModal"  (triggerAlert)="onShowModal()"></app-form>